/**
 * @file
 * Frontpage Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000320}}
body.front #news {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000322}}
body.front #news .pane-news {
  max-width: 300px;
  background-color: #bbb;
  padding: 10px;
  border-radius: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000330}}
body.front #news .panel-separator, body.front #news .panel-pane {
  float: left;
  font-size: 0.9em;
  margin-left: 10px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000311}}
body.front #news .panel-separator h2, body.front #news .panel-pane h2 {
  font-size: 0.75em;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000335}}
body.front #main-1 .pane-videos-panel-pane-1 {
  max-width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000338}}
body.front #main-1 .panel-separator, body.front #main-1 .panel-pane {
  float: left;
  font-size: 0.9em;
  margin-left: 10px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/frontpage\.scss}line{font-family:\0000311}}
body.front #main-1 .panel-separator h2, body.front #main-1 .panel-pane h2 {
  font-size: 0.75em;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
