/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000318}}
.node {
  /* Node wrapper */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000320}}
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000324}}
.node .node-title {
  /* Node title */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000327}}
.node .user-picture {
  /* The picture of the node author */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000330}}
.node .submitted {
  /* The "posted by" information */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000333}}
.node .content {
  /* Node's content wrapper */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000336}}
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000340}}
.node.node-teaser .field-name-title-field, .node.view-mode-full .field-name-title-field {
  font-size: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000343}}
.node.node-teaser .field-name-post-date, .node.view-mode-full .field-name-post-date {
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000348}}
.node.node-teaser .field-name-node-link {
  float: right;
  font-size: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000356}}
.node-promoted {
  /* A node that has been promoted to the front page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000359}}
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000362}}
.node-by-viewer {
  /* A node created by the current user */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000365}}
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000374}}
.node-page {
  /* Page content node */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000377}}
.node-article {
  /* Article content node */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000380}}
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000383}}
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000389}}
.file .field-name-title-field {
  font-size: 1.5em;
  margin-bottom: 10px;
}
