/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000319}}
.node {
  /* Node wrapper */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000321}}
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000325}}
.node .node-title {
  /* Node title */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000328}}
.node .user-picture {
  /* The picture of the node author */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000331}}
.node .submitted {
  /* The "posted by" information */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000334}}
.node .content {
  /* Node's content wrapper */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000337}}
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000341}}
.node.node-teaser .field-name-title-field, .node.view-mode-full .field-name-title-field {
  font-size: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000344}}
.node.node-teaser .field-name-post-date, .node.view-mode-full .field-name-post-date {
  font-size: 0.7em;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000349}}
.node.node-teaser .field-name-node-link {
  float: right;
  font-size: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000357}}
.node-promoted {
  /* A node that has been promoted to the front page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000360}}
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000363}}
.node-by-viewer {
  /* A node created by the current user */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000366}}
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000375}}
.node-page {
  /* Page content node */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000378}}
.node-article {
  /* Article content node */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000384}}
.node-concert.view-mode-full .field-name-field-media .file-audio .field-name-title-field {
  display: inline-block;
  max-width: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000390}}
.node-concert.view-mode-full .field-name-field-media .file-document .field-name-title-field {
  max-width: 180px;
  position: absolute;
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\0000396}}
.node-concert.view-mode-full .field-name-field-media .field-name-title-field {
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003102}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix {
  border: 0;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003109}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix .field-name-field-piece {
  display: inline-block;
  float: left;
  width: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003114}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix .field-collection-container {
  display: inline-block;
  border: none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003120}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix .field-collection-container .field-name-field-performers .field-items .field-item {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003122}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix .field-collection-container .field-name-field-performers .field-items .field-item .field-name-field-performer {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003127}}
.node-concert.view-mode-full .field-name-field-programme .field-collection-view.clearfix .field-collection-container .field-name-field-performers .field-items .field-item .field-name-field-instrument {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003139}}
.node-concert.view-mode-teaser .field-name-field-time, .node-concert.view-mode-short_teaser .field-name-field-time {
  font-size: 0.7em;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003142}}
.node-concert.view-mode-teaser .field-name-title-field, .node-concert.view-mode-short_teaser .field-name-title-field {
  font-size: 1.3em;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003148}}
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003151}}
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003157}}
.file .field-name-title-field {
  font-size: 1.3em;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003161}}
.file .field-name-field-day-date {
  font-size: 0.7em;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/nodes\.scss}line{font-family:\00003166}}
.field-name-field-media .field-item {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
