/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 48, ../sass/pages.scss */
#header {
  background-color: #000;
}
/* line 52, ../sass/pages.scss */
#header .top .pane-page-logo {
  display: inline-block;
  float: left;
  margin-bottom: -80px;
  margin-right: -40px;
}
/* line 59, ../sass/pages.scss */
#header .top .pane-page-site-name {
  margin-top: 80px;
  display: inline-block;
  float: left;
  color: #d99216;
  text-transform: uppercase;
  font-size: 25px;
  max-width: 320px;
}
/* line 69, ../sass/pages.scss */
#header .top-right {
  float: right;
}
/* line 71, ../sass/pages.scss */
#header .top-right .pane-locale-language {
  float: right;
  display: inline-block;
}
/* line 75, ../sass/pages.scss */
#header .top-right .pane-locale-language ul {
  padding: 0px;
  list-style-type: none;
}
/* line 78, ../sass/pages.scss */
#header .top-right .pane-locale-language ul li {
  display: inline;
}
/* line 80, ../sass/pages.scss */
#header .top-right .pane-locale-language ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
}
/* line 85, ../sass/pages.scss */
#header .top-right .pane-locale-language ul li a:hover {
  color: #d99216;
}
/* line 89, ../sass/pages.scss */
#header .top-right .pane-locale-language ul li.first {
  border-right: 1px solid white;
  padding-right: 5px;
}
/* line 93, ../sass/pages.scss */
#header .top-right .pane-locale-language ul li.active a {
  color: #d99216;
}
/* line 98, ../sass/pages.scss */
#header .top-right .pane-custom-search-blocks-1 {
  float: right;
  display: inline-block;
}
/* line 102, ../sass/pages.scss */
#header .top-right .pane-custom-search-blocks-1 .form-item-custom-search-types {
  display: none;
}

/* line 111, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 116, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 121, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 125, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 131, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 137, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 142, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 147, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 168, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 169, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 173, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 186, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 190, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 194, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 198, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 201, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 207, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 211, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 216, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 219, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 223, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 227, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 230, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 233, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 236, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 239, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 243, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 249, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 253, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 256, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 261, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 264, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 298, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
