/**
 * @file
 * Ticket selling
 */
/*
 * Ticket
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000314}}
.mez-concert-hall .mez-ticket span.inner {
  width: 10px;
  height: 10px;
  display: block;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000321}}
.mez-concert-hall .mez-ticket.sold span.inner {
  background-color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000324}}
.mez-concert-hall .mez-ticket.free span.inner {
  background-color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000327}}
.mez-concert-hall .mez-ticket.reserved span.inner {
  background-color: yellow;
}
