/**
 * @file
 * Ticket selling
 */
/**
 * Ticket
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000312}}
.mez-concert-hall-field {
  text-decoration: underline;
  color: #D99216;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000317}}
.mez-concert-hall {
  display: none;
  height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000320}}
.mez-concert-hall .mez-ticket span.inner {
  width: 9px;
  height: 9px;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000328}}
.mez-concert-hall .mez-ticket.sold span.inner {
  background-color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000331}}
.mez-concert-hall .mez-ticket.free span.inner {
  background-color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000334}}
.mez-concert-hall .mez-ticket.reserved span.inner {
  background-color: #D99216;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000337}}
.mez-concert-hall .mez-legend .mez-ticket .inner {
  float: left;
  position: relative;
  top: 8px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000347}}
body.node-type-concert .ds-2col-stacked .group-left {
  width: 190px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000351}}
body.node-type-concert .ds-2col-stacked .group-right {
  width: auto;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000359}}
.view-mez-shopping-cart-block .views-field-commerce-total {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000362}}
.view-mez-shopping-cart-block .views-row-even {
  background-color: #D99216;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000365}}
.view-mez-shopping-cart-block .views-row-last {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000372}}
.mez_concert_bank_information {
  font-size: 0.6em;
  text-align: right;
}
