/**
 * @file
 * Ticket selling
 */
/*
 * Ticket
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000314}}
.mez-concert-hall .mez-ticket span.inner {
  width: 9px;
  height: 9px;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000322}}
.mez-concert-hall .mez-ticket.sold span.inner {
  background-color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000325}}
.mez-concert-hall .mez-ticket.free span.inner {
  background-color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000328}}
.mez-concert-hall .mez-ticket.reserved span.inner {
  background-color: yellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000335}}
body.node-type-concert .ds-2col-stacked .group-left {
  width: 190px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000339}}
body.node-type-concert .ds-2col-stacked .group-right {
  width: auto;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000347}}
.view-mez-shopping-cart-block .views-field-commerce-total {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000350}}
.view-mez-shopping-cart-block .views-row-even {
  background-color: #D99216;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/tickets\.scss}line{font-family:\0000353}}
.view-mez-shopping-cart-block .views-row-last {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
