/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000318}}
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000324}}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000329}}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000331}}
.views-displays .secondary .open > a:hover {
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000336}}
.views-displays .secondary .action-list li {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000338}}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000341}}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000348}}
.view-news .views-row, .view-videos .views-row, .view-concerts .views-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000352}}
.view-news .views-row:not(.views-row-last), .view-videos .views-row:not(.views-row-last), .view-concerts .views-row:not(.views-row-last) {
  border-bottom: 1px solid grey;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000357}}
.more-link a {
  text-transform: uppercase;
  font-size: 0.7em;
}

/*
 * Media view
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000366}}
.view-media .views-field-rendered-entity img {
  max-width: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000370}}
.view-media .views-field-fid a {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000378}}
.view-mez-shopping-cart-summary td.views-field-title-field {
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000381}}
.view-mez-shopping-cart-summary .commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/czigor\/public_html\/zenekar\/sites\/all\/themes\/mez_theme\/sass\/views-styles\.scss}line{font-family:\0000386}}
.view-mez-shopping-cart-block .line-item-summary .line-item-quantity {
  float: none;
}
