/**
 * @file
 * Basic setup of variables that can be shared accross all stylesheets.
 *
 * Such set of variables may include:
 *  - media query breakpoints,
 *  - layout variables,
 *  - typography rules,
 *  - color palette,
 *  - CSS3 declarations' defaults,
 *  - compass variables.
 */


// -----------------------------------------------------------------------------
// Layout vars.

$layout-inner-gaps: 2.5em;


// -----------------------------------------------------------------------------
// Project palette.

$color-dark:            #3d3535; // Desaturated DARK BROWN.
$color-faded:           #8b8483; // Desaturated darker-than-midtone BEIGE.
$color-minor:           #EDF5FA; // Garland's overall bg color: LIGHT BLUE.

$color-border-light:    lighten($color-faded, 30%); // Desaturated light BEIGE.
$color-border-medium:   lighten($color-faded, 15%); // Desaturated light BEIGE.

$color-blockfill:       lighten($color-border-light, 10%);

$color-prim-dark:       #2385C2; // The darker blue in the header's gradient.
$color-prim-light:      #59B4ED; // The lighter blue in the header's gradient.

$color-link:            darken(#027AC6, 5%); // Garland link color, darkened.

$color-shadow: rgba(25, 21, 28, 0.6); // PURPLE-ISH GRAY with transparency.


// -----------------------------------------------------------------------------
// CSS3.

$default-box-shadow-color: $color-shadow;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 0.3em;
$default-box-shadow-blur: 0.6em;
// $default-box-shadow-spread: -0.4em;

$default-border-radius: 3px;


// -----------------------------------------------------------------------------
// Compass.

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

@import "compass/support";
@import "compass/layout";
@import "compass/utilities";
@import "compass/css3";

// Theme's custom goods.
@import "custom-mixins";
