/**
 * @file
 * Custom style adjustments for IssueQ's Garland-child theme.
 */

@import "variables";


/**
 * -----------------------------------------------------------------------------
 * Typography adjustments.
 */

// We want more contrast: applying darker text- and link colors.
body {
  color: $color-dark;
}
a {
  &:link,
  &:visited,
  &:hover {
    color: $color-link;
    
    ul.secondary-menu li & {
      color: $color-minor;
    }
    th & {
      color: lighten($color-faded, 10%);
    }
  }
  &:active {}
  
  li &.active {
    color: $color-dark;
  }
}
// Breadcrumb contrast.
#wrapper #container .breadcrumb,
#wrapper #container .breadcrumb a{
  color: $color-link;
}

// Default list-style-type for content lists.
.pane-node-field-issue-description,
.pane-node-field-user-story-description,
.pane-node-field-documentation-body,
.pane-node-field-news-body,
.comment
{
  ul {
    list-style-image: none;
  }
}


/**
 * -----------------------------------------------------------------------------
 * Page layout.
 */

body.fluid-width #wrapper #container {
  max-width: 1360px;
  min-width: 1000px;
}

// Adjustments to Panels' built-in layouts' CSS.
.panels-flexible-region-1-center {
  .inside {
    margin-right: -1%;
  }
}


/**
 * -----------------------------------------------------------------------------
 * Items in the page's content.
 */

// Page title. Page title's original Garland selector was h1.with-tabs .
#page-title {
  float: none;
  margin: 0 0 0.7em;
  
  #center & {
    font-size: 180%;
  }
  span {
    display: inline-block;
  }
  .number {
    @include border-radius;
    
    background: lighten($color-dark, 10%);
    color: $color-minor;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 120%;
    margin: 0 0.2em 0.5em 0;
    padding: 0.1em 0.4em;
    position: relative;
    top: -0.1em;
  }
  .ct {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 100%;
    padding-right: 0.3em;
    position: relative;
    text-transform: lowercase;
    top: -0.1em;
  }
}

// Action links.
#tabs-wrapper + .action-links {
  @include clearfix;
  
  padding: 0;
  list-style-position: inside;
  
  li {
    float: left;
    margin-left: 2em;
  }
}

// Units in the content.
.region-content .panel-panel > div,
.panels-flexible-region .inside,
.panel-iq-project-page .inside
{
  & > .panel-pane {
    margin-bottom: $layout-inner-gaps;
  }
}
.region-content .panel-panel > div,
.panels-flexible-region .inside
{
  & > .panel-pane:last-child {
    margin-bottom: 0;
  }
}


// Node metadata.
// TODO: They should have a common class.
.pane-issue-details,
.pane-user-story-details,
.pane-project-details,
.pane-documentation-details,
.pane-news-details
{
  background-color: $color-blockfill;
  padding: 1em;
  margin-bottom: $layout-inner-gaps;
}

// Node essence.
// TODO: They should have a common class.
.pane-node-field-issue-description,
.pane-node-field-user-story-description,
.pane-node-field-documentation-body,
.pane-node-field-news-body
{
  // The border is trying to match the above element but also to have some extra
  // contrast.
  border: 1px solid lighten($color-border-light, 5%);
  border-top-color: lighten($color-border-light, 10%);
  border-bottom-color: $color-border-light;
  padding: 1.2em 1em;
}
.pane-issue-details + .pane-node-field-issue-description,
.pane-user-story-details + .pane-node-field-user-story-description,
.pane-documentation-details + .pane-node-field-documentation-body,
.pane-news-details + .pane-node-field-news-body
{
  margin-top: - $layout-inner-gaps;
}
.pane-node-field-issue-description,
.pane-node-field-user-story-description,
.pane-node-field-documentation-body,
.pane-node-field-news-body
{
  .pane-content .field-item p {
    margin-top: 0;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Tables.
table,
thead,
thead th,
tbody,
tbody th,
tr,
tr.even,
tr.odd,
td {
  border-color: $color-border-light;
  
  .view-issues & {
    border-color: $color-border-medium;
  }
}
thead th {
  border-width: 1px;
}


/**
 * -----------------------------------------------------------------------------
 * Forms.
 */

form {
  // ---------------------------------------------------------------------------
  // Basic widget style.
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  textarea,
  select
  {
    @include box-sizing(border-box);
    // Box shadow syntax: $color, $hoff, $voff, $blur, $spread, $inset
    @include box-shadow(lighten($color-shadow, 70%) 0 0.1em 0.3em 0em inset);

    background: #fff;
    border: 1px solid $color-border-medium;
    min-height: 24px;
    padding: 2px 0.5em;
  }
  select {
    padding: 2px;
  }
  input[type="file"] {
    padding-left: 2px;
    
  }
  // Just overriding /modules/file/file.css.
  .form-managed-file .form-file {
    margin-right: 1em;
  }
}

// Buttons & submits.
input[type="button"],
input[type="submit"],
input.form-submit,
button[type="submit"]
{
  @include box-sizing(border-box);
  @include button;

  min-height: 26px;
  padding: 0.2em 0.4em;
  text-align: center;

  // Submits on dark background places.
  .views-exposed-form &
  {
    border-color: #fff;
  }
}


// -----------------------------------------------------------------------------
// Specifics for certain forms.

// Comment alter alterings.
#comment_comment_node_issue_form_group_issue_details {
  .fieldset-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    
    // & > .form-wrapper {}
    
    .form-item {
      float: left;
      padding-right: 2em;
    }
    .form-item-comment-alter-title {
      float: none;
    }
  }
  input[type="text"],
  select {
    @include field-widget-highlight('discrete');

    // min-width: 14em;

    option {
      background-color: #fff;
    }
  }
}

// Views exposed forms.
.views-exposed-form {
  background: $color-blockfill;
  padding: 0.6em 1em;
  
  .active {
    @include field-widget-highlight('harsh');
  }
  .views-submit-button {
    clear: left;
  }
  .views-submit-button,
  .views-reset-button {
    float: right;
    padding-left: 1.6em;
    padding-right: 0;
    
    input {
      margin-right: 0;
      padding: 0.3em 0.6em;
    }
  }
}

// Comment timer's form.
fieldset[id^="edit-comment-timer"] {
  .description {
    margin-left: 0.5em;
    margin-right: 2em;
  }
}


/**
 * -----------------------------------------------------------------------------
 * Comments.
 */

// If comments are displayed in panes.
.pane-issue-comments-panel-pane-default {
  .pane-title {
    margin-bottom: 0.5em;
  }
}

.comment {
  background: #fff url('../images/gradient-inner.png') repeat-x 0 0;
  border: 1px solid $color-border-light;
  margin: 0 0 $layout-inner-gaps / 2;
  padding: 1em 1em 0;
}

// Indenting reply-comments if comments are listed with views.
.view {
  // Maximum indenting (default).
  .comment {
    margin-left: 6em;
  }
  // Smaller indents: (overriding default).
  .comment-depth-0,
  .comment-depth-undef {
    margin-left: 0;
  }
  .comment-depth-1 {
    margin-left: 2em;
  }
  .comment-depth-2 {
    margin-left: 4em;
  }
}

// Comment components.
.comment {
  & > .clearfix {
    position: relative;
  }
  
  .submitted a.username {
    font-weight: bold;
  }
  
  .comment-timer-data {
    bottom: 0.5em;
    line-height: 100%;
    position: absolute;
    right: 0.5em;
    
    .field-label,
    .field-items {
      float: left;
    }
    .field-label {
      // font-style: italic;
      color: $color-faded;
      font-weight: normal;
      padding-right: 0.5em;
    }
  }
  
  .comment-meta {
    background-color: $color-blockfill;
    border-top: 1px solid $color-border-light;
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5em 23em 0.5em 0.5em;
    
    ul.inline {
      display: block;
      float: left;
      margin: 0 2em 0 0;
      
      &,
      li,
      a {
        line-height: 100%;
      }
    }
  }
  
  table.comment-alter-diff {
    border-color: $color-border-light;
    font-size: 1em;

    tr.odd,
    tr.even {
      background-color: $color-minor;
    }
    td {
      font-size: 0.9em;
    }
  }
}



/**
 * -----------------------------------------------------------------------------
 * Views-lists.
 */
.view .view-empty p {
  font-weight: bold;
}

// Views tables.
td.views-field-title {
  font-weight: bold;
  border-left: 1px solid $color-border-light;
  border-right: 1px solid $color-border-light;
  word-wrap: break-word;
  
  .view-projects & {
    border-left: none;
  }
  .view-issues & {
    border-color: $color-border-medium;
  }
}
td.views-field-changed {
  min-width: 7em;
}

// Pages devoted to views lists. (TODO: they could have a common body class.)
.page-node-news .view-news
{
  .views-row {
    border-bottom: 1px solid $color-border-light;
    margin-bottom: $layout-inner-gaps / 2;
    padding-bottom: $layout-inner-gaps / 2;
  }
  .views-field-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  .views-more-link {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-left: 1em;
    
    &:after {
      content:' \00BB';
    }
  }
}

// Various lists as part of the project nodes.
.node-type-project {
  .panel-middle {
    .views-field-created,
    .views-field-changed
    {
      color: $color-faded;
    }
  }
}


/**
 * -----------------------------------------------------------------------------
 * Modding/adjusting Garland.
 */

.submitted,
.description,
.vertical-tab-button
.summary {
  color: $color-faded;
}
#tabs-wrapper {
  border-color: lighten($color-border-light, 5%);
}
fieldset
{
  border-color: $color-border-light;
}
#wrapper #container .region-footer {
  color: $color-faded;
}


/**
 * -----------------------------------------------------------------------------
 * Misc.
 */

.field-label-inline {
  .field-label {
    padding-right: 0.5em;
  }
}
