/**
 * @file
 * Custom style adjustments for IssueQ's Garland-child theme.
 */
/**
 * @file
 * Basic setup of variables that can be shared accross all stylesheets.
 *
 * Such set of variables may include:
 *  - media query breakpoints,
 *  - layout variables,
 *  - typography rules,
 *  - color palette,
 *  - CSS3 declarations' defaults,
 *  - compass variables.
 */
/**
 * @file
 * Custom mixins.
 */
/**
 * -----------------------------------------------------------------------------
 * Typography adjustments.
 */
body {
  color: #3d3535;
}

a:link, a:visited, a:hover {
  color: #026aad;
}
ul.secondary-menu li a:link, ul.secondary-menu li a:visited, ul.secondary-menu li a:hover {
  color: #edf5fa;
}
th a:link, th a:visited, th a:hover {
  color: #a49e9d;
}
li a.active {
  color: #3d3535;
}

#wrapper #container .breadcrumb,
#wrapper #container .breadcrumb a {
  color: #026aad;
}

.pane-node-field-issue-description ul,
.pane-node-field-user-story-description ul,
.pane-node-field-documentation-body ul,
.pane-node-field-news-body ul,
.comment ul {
  list-style-image: none;
}

/**
 * -----------------------------------------------------------------------------
 * Page layout.
 */
body.fluid-width #wrapper #container {
  max-width: 1360px;
  min-width: 1000px;
}

.panels-flexible-region-1-center .inside {
  margin-right: -1%;
}

/**
 * -----------------------------------------------------------------------------
 * Items in the page's content.
 */
#page-title {
  float: none;
  margin: 0 0 0.7em;
}
#center #page-title {
  font-size: 180%;
}
#page-title span {
  display: inline-block;
}
#page-title .number {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #584d4d;
  color: #edf5fa;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 120%;
  margin: 0 0.2em 0.5em 0;
  padding: 0.1em 0.4em;
  position: relative;
  top: -0.1em;
}
#page-title .ct {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 100%;
  padding-right: 0.3em;
  position: relative;
  text-transform: lowercase;
  top: -0.1em;
}

#tabs-wrapper + .action-links {
  overflow: hidden;
  padding: 0;
  list-style-position: inside;
}
#tabs-wrapper + .action-links li {
  float: left;
  margin-left: 2em;
}

.region-content .panel-panel > div > .panel-pane,
.panels-flexible-region .inside > .panel-pane,
.panel-iq-project-page .inside > .panel-pane {
  margin-bottom: 2.5em;
}

.region-content .panel-panel > div > .panel-pane:last-child,
.panels-flexible-region .inside > .panel-pane:last-child {
  margin-bottom: 0;
}

.pane-issue-details,
.pane-user-story-details,
.pane-project-details,
.pane-documentation-details,
.pane-news-details {
  background-color: #eeedec;
  padding: 1em;
  margin-bottom: 2.5em;
}

.pane-node-field-issue-description,
.pane-node-field-user-story-description,
.pane-node-field-documentation-body,
.pane-node-field-news-body {
  border: 1px solid #e1dfdf;
  border-top-color: #eeedec;
  border-bottom-color: #d5d2d2;
  padding: 1.2em 1em;
}

.pane-issue-details + .pane-node-field-issue-description,
.pane-user-story-details + .pane-node-field-user-story-description,
.pane-documentation-details + .pane-node-field-documentation-body,
.pane-news-details + .pane-node-field-news-body {
  margin-top: -2.5em;
}

.pane-node-field-issue-description .pane-content .field-item p,
.pane-node-field-user-story-description .pane-content .field-item p,
.pane-node-field-documentation-body .pane-content .field-item p,
.pane-node-field-news-body .pane-content .field-item p {
  margin-top: 0;
}
.pane-node-field-issue-description .pane-content .field-item p:last-child,
.pane-node-field-user-story-description .pane-content .field-item p:last-child,
.pane-node-field-documentation-body .pane-content .field-item p:last-child,
.pane-node-field-news-body .pane-content .field-item p:last-child {
  margin-bottom: 0;
}

table,
thead,
thead th,
tbody,
tbody th,
tr,
tr.even,
tr.odd,
td {
  border-color: #d5d2d2;
}
.view-issues table, .view-issues
thead, .view-issues
thead th, .view-issues
tbody, .view-issues
tbody th, .view-issues
tr, .view-issues
tr.even, .view-issues
tr.odd, .view-issues
td {
  border-color: #b0abab;
}

thead th {
  border-width: 1px;
}

/**
 * -----------------------------------------------------------------------------
 * Forms.
 */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="file"],
form textarea,
form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(204, 196, 210, 0.6) 0 0.1em 0.3em 0em inset;
  -moz-box-shadow: rgba(204, 196, 210, 0.6) 0 0.1em 0.3em 0em inset;
  box-shadow: rgba(204, 196, 210, 0.6) 0 0.1em 0.3em 0em inset;
  background: #fff;
  border: 1px solid #b0abab;
  min-height: 24px;
  padding: 2px 0.5em;
}
form select {
  padding: 2px;
}
form input[type="file"] {
  padding-left: 2px;
}
form .form-managed-file .form-file {
  margin-right: 1em;
}

input[type="button"],
input[type="submit"],
input.form-submit,
button[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2385c2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59b4ed), color-stop(100%, #2385c2));
  background-image: -webkit-linear-gradient(#59b4ed, #2385c2);
  background-image: -moz-linear-gradient(#59b4ed, #2385c2);
  background-image: -o-linear-gradient(#59b4ed, #2385c2);
  background-image: linear-gradient(#59b4ed, #2385c2);
  border: 1px solid #d5d2d2;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(25, 21, 28, 0.6);
  min-height: 26px;
  padding: 0.2em 0.4em;
  text-align: center;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input.form-submit:hover,
button[type="submit"]:hover {
  background-color: #1b6797;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b9fe8), color-stop(100%, #1b6797));
  background-image: -webkit-linear-gradient(#2b9fe8, #1b6797);
  background-image: -moz-linear-gradient(#2b9fe8, #1b6797);
  background-image: -o-linear-gradient(#2b9fe8, #1b6797);
  background-image: linear-gradient(#2b9fe8, #1b6797);
  cursor: pointer;
}
.views-exposed-form input[type="button"], .views-exposed-form
input[type="submit"], .views-exposed-form
input.form-submit, .views-exposed-form
button[type="submit"] {
  border-color: #fff;
}

#comment_comment_node_issue_form_group_issue_details .fieldset-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#comment_comment_node_issue_form_group_issue_details .fieldset-wrapper .form-item {
  float: left;
  padding-right: 2em;
}
#comment_comment_node_issue_form_group_issue_details .fieldset-wrapper .form-item-comment-alter-title {
  float: none;
}
#comment_comment_node_issue_form_group_issue_details input[type="text"],
#comment_comment_node_issue_form_group_issue_details select {
  -webkit-box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  -moz-box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  border-color: #8b8483;
  background: #edf5fa;
}
#comment_comment_node_issue_form_group_issue_details input[type="text"] option,
#comment_comment_node_issue_form_group_issue_details select option {
  background-color: #fff;
}

.views-exposed-form {
  background: #eeedec;
  padding: 0.6em 1em;
}
.views-exposed-form .active {
  -webkit-box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  -moz-box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  box-shadow: rgba(154, 137, 167, 0.6) 0 0.1em 0.4em 0em inset;
  border-color: #8b8483;
  background: #ffe366;
}
.views-exposed-form .views-submit-button {
  clear: left;
}
.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button {
  float: right;
  padding-left: 1.6em;
  padding-right: 0;
}
.views-exposed-form .views-submit-button input,
.views-exposed-form .views-reset-button input {
  margin-right: 0;
  padding: 0.3em 0.6em;
}

fieldset[id^="edit-comment-timer"] .description {
  margin-left: 0.5em;
  margin-right: 2em;
}

/**
 * -----------------------------------------------------------------------------
 * Comments.
 */
.pane-issue-comments-panel-pane-default .pane-title {
  margin-bottom: 0.5em;
}

.comment {
  background: white url("../images/gradient-inner.png") repeat-x 0 0;
  border: 1px solid #d5d2d2;
  margin: 0 0 1.25em;
  padding: 1em 1em 0;
}

.view .comment {
  margin-left: 6em;
}
.view .comment-depth-0,
.view .comment-depth-undef {
  margin-left: 0;
}
.view .comment-depth-1 {
  margin-left: 2em;
}
.view .comment-depth-2 {
  margin-left: 4em;
}

.comment > .clearfix {
  position: relative;
}
.comment .submitted a.username {
  font-weight: bold;
}
.comment .comment-timer-data {
  bottom: 0.5em;
  line-height: 100%;
  position: absolute;
  right: 0.5em;
}
.comment .comment-timer-data .field-label,
.comment .comment-timer-data .field-items {
  float: left;
}
.comment .comment-timer-data .field-label {
  color: #8b8483;
  font-weight: normal;
  padding-right: 0.5em;
}
.comment .comment-meta {
  background-color: #eeedec;
  border-top: 1px solid #d5d2d2;
  margin-left: -1em;
  margin-right: -1em;
  padding: 0.5em 23em 0.5em 0.5em;
}
.comment .comment-meta ul.inline {
  display: block;
  float: left;
  margin: 0 2em 0 0;
}
.comment .comment-meta ul.inline,
.comment .comment-meta ul.inline li,
.comment .comment-meta ul.inline a {
  line-height: 100%;
}
.comment table.comment-alter-diff {
  border-color: #d5d2d2;
  font-size: 1em;
}
.comment table.comment-alter-diff tr.odd,
.comment table.comment-alter-diff tr.even {
  background-color: #edf5fa;
}
.comment table.comment-alter-diff td {
  font-size: 0.9em;
}

/**
 * -----------------------------------------------------------------------------
 * Views-lists.
 */
.view .view-empty p {
  font-weight: bold;
}

td.views-field-title {
  font-weight: bold;
  border-left: 1px solid #d5d2d2;
  border-right: 1px solid #d5d2d2;
  word-wrap: break-word;
}
.view-projects td.views-field-title {
  border-left: none;
}
.view-issues td.views-field-title {
  border-color: #b0abab;
}

td.views-field-changed {
  min-width: 7em;
}

.page-node-news .view-news .views-row {
  border-bottom: 1px solid #d5d2d2;
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
}
.page-node-news .view-news .views-field-title {
  font-size: 1.2em;
  font-weight: bold;
}
.page-node-news .view-news .views-more-link {
  display: block;
  font-style: italic;
  font-weight: bold;
  margin-left: 1em;
}
.page-node-news .view-news .views-more-link:after {
  content: ' \00BB';
}

.node-type-project .panel-middle .views-field-created,
.node-type-project .panel-middle .views-field-changed {
  color: #8b8483;
}

/**
 * -----------------------------------------------------------------------------
 * Modding/adjusting Garland.
 */
.submitted,
.description,
.vertical-tab-button
.summary {
  color: #8b8483;
}

#tabs-wrapper {
  border-color: #e1dfdf;
}

fieldset {
  border-color: #d5d2d2;
}

#wrapper #container .region-footer {
  color: #8b8483;
}

/**
 * -----------------------------------------------------------------------------
 * Misc.
 */
.field-label-inline .field-label {
  padding-right: 0.5em;
}
