/**
 * @file
 * Frontpage Styling
 */

@mixin front-pane {
  float: left;
  font-size: 0.9em;
  margin-left: 10px;
  margin-right: 10px;
  h2 {
    font-size: 0.75em;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
  }
}

body.front {
  #news {
    float: left;
    .pane-news {
      max-width: 360px;
      background-color: #bbb;
      padding: 10px;
      border-radius: 20px;
      .field-name-body {
      }
    }
    .panel-separator, .panel-pane {
      @include front-pane;
    }
  }
  #main-1 {
    .pane-videos-panel-pane-1 {
      max-width: 300px;
    }
    .panel-separator, .panel-pane {
      @include front-pane;
    }
  }
}