/**
 * @file
 * Ticket selling
 */

@import "base";


/**
 * Ticket
 */
.mez-concert-hall-field {
  text-decoration: underline;
  color: #D99216;
}

.mez-concert-hall {
  display: none;
  height: 500px;
  .mez-ticket span.inner {
    width: 9px;
    height: 9px;
    display: block;
    margin: 0;
    padding: 0;
    border-radius:4px;
  }
  .mez-ticket.sold span.inner {
    background-color: red;
  }
  .mez-ticket.free span.inner {
    background-color: green;
  }
  .mez-ticket.reserved span.inner {
    background-color: #eeee00;
  }
  .mez-legend .mez-ticket .inner{
    float: left;
    position: relative;
    top: 8px;
    margin-right: 10px;
  }
}

body.node-type-concert {
  .ds-2col-stacked {
    .group-left {
      width: 190px;
      margin-right: 20px
    }
    .group-right {
      width: 760px;
      float: left;
    }
  }
}

.view-mez-shopping-cart-block {
  .views-field-commerce-total {
    text-align: right;
  }
  .views-row-even {
    background-color: #D99216;
  }
  .views-row-last {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.mez_concert_bank_information {
  font-size: 0.6em;
  text-align: right;
}

/**
 * 2014. 05. 19. concert
 */
body.page-node-1206 .mez-concert-hall {
  .mez-ticket.free.mez-ticket-price-1000 span.inner {
    background-color: #54C571;
  }
  .mez-ticket.free.mez-ticket-price-2000 span.inner {
    background-color: #9DC209;
  }
  .mez-ticket.free.mez-ticket-price-2500 span.inner {
    background-color: #00ff00;
  }
  .mez-ticket.free.mez-ticket-price-10000 span.inner {
    background-color: #254117;
  }
}
