/**
 * @file
 * Ticket selling
 */

@import "base";


/**
 * Ticket
 */
.mez-concert-hall-field {
  text-decoration: underline;
  color: #D99216;
}

.mez-concert-hall {
  display: none;
  height: 500px;
  .mez-ticket span.inner {
    width: 9px;
    height: 9px;
    display: block;
    margin: 0;
    padding: 0;
    border-radius:4px;
  }
  .mez-ticket.sold span.inner {
    background-color: red;
  }
  .mez-ticket.free span.inner {
    background-color: green;
  }
  .mez-ticket.reserved span.inner {
    background-color: #D99216;
  }
}

body.node-type-concert {
  .ds-2col-stacked {
    .group-left {
      width: 190px;
      margin-right: 10px
    }
    .group-right {
      width: auto;
      float: left;
    }
  }
}

.view-mez-shopping-cart-block {
  .views-field-commerce-total {
    text-align: right;
  }
  .views-row-even {
    background-color: #D99216;
  }
  .views-row-last {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.mez_concert_bank_information {
  font-size: 0.6em;
  text-align: right;
}
