/**
 * Theme hacks for fake exposed search multi form and the original one too.
 */

/** Hide completely the hidden fields. **/
form#views-exposed-form-search-multi-page .views-exposed-form .views-exposed-widget {
  padding: 0;
}

/** Correct previously modification on visible fulltext field **/
form#views-exposed-form-search-multi-page div#edit-search-api-multi-fulltext-wrapper {
  padding: 0.5em 1em 0 0;
}

/** Display fake form's select inline **/
form#fake-views-exposed-search-multi-form .form-type-select {
  display: inline-block;
  margin-right: 10px;
}

/** TODO Instead of that, should use template_preprocess_node() **/
.view-search-multi div.node div.links {
  display: none;
}
